{% extends "VCGBundle::base.html.twig" %}
{% block javascripts %}
    <script>
        var leaveSiteUrl = '{{ path('page',{'slug':'leave-site'}) }}';
    </script>
{% endblock %}

{% block title %}VCGBundle:Page:index{% endblock %}
{% block page_class %}page{% endblock %}
{% block page_content %}
<h1>Welcome to the Page:index page</h1>
{% endblock %}
