/*staging area for quickly testing new components*/

/*modal content styling*/

.article, .events, .faqs, .video, .leave-site {
    p, h1, h2, ul li {
        color: $black;
    }

    h1 {
        font-size: 1.9em;
        padding-top: 0.1em;
        width: 100%;
        text-transform: capitalize;
        margin-bottom: 1.2em;
    }
    h3, h4 {
      color: $grey--medium;
    }

}

.article, .events, .faqs, .leave-site {

    h1 {
        .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
            width: calc( 100% - 8rem );
        }

    }

    h2 {
        font-size: 1.2em;
    }

    ul li {
        font-weight: 800;
        text-transform: capitalize;

    }

    ul {
        list-style-type: disc;
    }
}

.events {

    .event__wrapper {
        border-top: 1px solid $ups-grey-1;
        padding-top: 1em;
        padding-bottom: 1em;
        
        h1 {
            font-size: 1.2em;
            margin-bottom: 0;
            margin-left: 6rem;
        }

        img {
            float: left;
        }

        p {
                margin-left: 6rem;
        }
        
        &:last-child {
            border-bottom: 1px solid $ups-grey-1;
            margin-bottom: 20em;
        }
      &.selected-event {
        background: $grey20;
      }
    }
    
    .event__date {
        font-size: 1.3em;
        margin-top: 0.4em;
        margin-bottom: 0.3em;
    }

    .event__location {
        font-size: 1em;
    }
    .event__city, .event__state, .event__map-link {
        font-size: 0.8em;
        font-weight: 800;
    }

    .event__type {
        font-size: 0.8em;
        margin-top: 1em;
        // font-weight: 800;
    }

    i.fa-external-link-square {
        margin-left: 0.2em;
    }
}




.navCard.eventsCalendar {

    a {
        // padding: 5px;
        padding-left: 90px;
        background: #eee;
        height: 80px;
        line-height: 1;

    }

    a:nth-child(even) {
        background: none;
    }

    img {
        width: 80px;
        height: 80px;
        margin-left: -90px;
        position: absolute;
    }

    h3 {
        font-size: 0.9em;
        padding-top: 0.5em;
    }

    p {
        padding-top: 0;
    }

    p.event-date {
        font-size: 0.7em;
        text-transform: uppercase;
    }

    p.event-location {
        font-size: 0.7em;
    }
}



