/*staging area for quickly testing new components*/

/*modal content styling*/
.article, .events, .faqs, .leave-site {
    p, h1, h2, h3, h4, ul li, ol li {
        color: $black;
    }

    h1 {
        font-size: 1.9em;
        padding-top: 0.1em;
        width: 100%;
        // text-transform: capitalize;
        margin-bottom: 1.2em;

        .breakpoint-small &, .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
            width: calc( 100% - 8rem );
        }

        .breakpoint-small & {
            font-size: 1.2em;
            margin-left: 4rem;
            margin-top: -3.3rem;
        }
    }

    h2 {
        color: $black50;
        font-size: 1.2em;
        margin-top: 2rem;
        margin-bottom: 1em;
    }

    h3 {
        color: $black90;
        // text-transform: capitalize;
        margin-top: 2rem;
        margin-bottom: 0.2em;
    }

    h4 {
        color: $black50;
        font-weight: 400;
        font-size: 0.9em;

        &.definition {
            margin-bottom: 1em;
            span {
                font-weight: 400;
                //font-size: 0.9rem;
            }
        }
    }

    h6, .disclaimer--article {
        font-size: 0.7em;
        font-weight: 800;
        margin-top: 1rem;
        line-height: 1.2em;
        color: $black80;
    }

    p {
        margin-bottom: 1rem;

        &:first-of-type{ 
            // margin-top: 1em;
        }
    }

    //p.disclaimer--article{
    //    font-weight: 800;
    //    font-size: 0.7em;
    //    margin-top: 2rem;
    //}

    p > a, ul li a {
        color: $ups-brown-1;
        font-weight: 800;
        word-wrap: break-word;
        &:hover {
          color: $grey;
        }
    }

    ul, ol {
        margin-left: 2em;
        margin-bottom: 1em;
    }

    ol li {
        font-size: 0.9em;
        list-style-type: decimal;
        margin-bottom: 0.5em;
    }

    ul li {
        font-size: 0.9em;
        list-style-type: circle;
        margin-bottom: 0.5em;
    }

    td {
        font-size: 0.9em;
        padding-left: 1em;
        padding-right: 1em;
    }

    tr > td:last-child {
        border-left: 1px dotted rgba( $black, 0.04 );
    }
    table.table--location td {
        border-right: 1px dotted rgba( $black, 0.04 );
        &:last-child {
            border-right: none;
        }
    }
}

.events {
    .event__wrapper {
        border-top: 1px solid $ups-grey-1;
        padding-top: 1em;
        padding-bottom: 1em;
        
        h1 {
            font-size: 1.2em;
            margin-bottom: 0;
            margin-left: 6rem;
        }

        img {
            float: left;
        }

        p {
                margin-left: 6rem;
        }
        
        &:last-child {
            border-bottom: 1px solid $ups-grey-1;
            margin-bottom: 20em;
        }
      &.selected-event {
        background: $grey20;
      }
    }
    
    .event__date {
        font-size: 1.3em;
        margin-top: 0.4em;
        margin-bottom: 0.3em;
    }

    .event__location {
        font-size: 1em;
    }
    .event__city, .event__state, .event__map-link {
        font-size: 0.8em;
        font-weight: 800;
    }

    .event__type {
        font-size: 0.8em;
        margin-top: 1em;
        // font-weight: 800;
    }

    i.fa-external-link-square {
        margin-left: 0.2em;
    }
}




.navCard.eventsCalendar {

    a {
        // padding: 5px;
        padding-left: 90px;
        background: #eee;
        height: 80px;
        line-height: 1;

    }

    a:nth-child(even) {
        background: none;
    }

    img {
        width: 80px;
        height: 80px;
        margin-left: -90px;
        position: absolute;
    }

    h3 {
        font-size: 0.9em;
        padding-top: 0.5em;
    }

    p {
        padding-top: 0;
    }

    p.event-date {
        font-size: 0.7em;
        text-transform: uppercase;
    }

    p.event-location {
        font-size: 0.7em;
    }
}



