
.component--expander {

  .expander__wrapper{
    border-bottom: 1px solid rgba( $ups-grey-1, 0.3);
    line-height: 1.6;
    padding: 10px 0 0 2em; 
    position: relative;
    min-height: 75px;
    &:before {
      @include pseudo-block($vertical-thread-width);
      left: 0;
      height: calc( 100% + 1px );
      height: 100%;
      top: 0;
      background: $ups-yellow;

      .breakpoint-small & {
        content: none;
      }

    }
  }

  .expander__wrapper:nth-child(odd) {
    // background: $white15;
    // border-left: 10px solid $ups-yellow;

  }

  .expander__wrapper:nth-child(even) {
    // background: $white15;
    // border-left: 10px solid $ups-yellow;

  }

  i {
    display: block;
  }

  a.button{
    height: 78px;
    width: 100%;
    color: $grey70;
    cursor: pointer;
    display: block;
    margin-right: 0;
    position: absolute;
    padding: 25px 0 0 27px;
    right: 0;
    top: 0px;
    font-size: 13px;

    &:hover {
        background: $white05;
    }
    .fa {
        position: absolute;
        right: 0;
        top: 0;
        padding: 1em;
    }
  }

  a:nth-child(odd) {
    // background: $black05;
  }

  a.hide-button{
    /*z-index: -1;*/
    display: none;
  }

  h2.expander__parent {
    margin-left: 1rem;
    margin-right: 80px;
    font-weight: 700;
    padding-bottom: 0px;
    p{
      line-height: 1.9;
    }
  }
  
  h3 {
    margin-left: 1rem;
  }

  .expander__child {
    position: relative;
  }

  .expander__child p{
    margin: 1em;
    // margin-left: 1em;
    // margin-right: 1em;

    &:last-of-type {
      padding-bottom: 3em;
    }
  }

  .expander__child p img { /*DD Form 214 guide*/
    // display: none;
    float: left;
    margin: 0.4em 1em 1em 0;
  }
  
  .faq.expander__child p { /*for FAQs*/
    margin-left: 4em;
  }

  .hidden-part {
    height: 0;
    opacity: 0;
  }

  .hidden-part *{
    /*opacity: 0;*/
  }

  .faq.expander__parent:before, .expander__child:before{
    color: $grey80;
    font-weight: 900;
    margin-left: -30px;
    position: absolute;
  }

  .faq.expander__parent:before{ /*for use with FAQ's*/
    content: 'Q:';
  }

  // .expander__child:before{
  //   content: 'A:';
  // }


  .video {
    background: $grey30;
    width: 100%;
    max-width: 21em;
    margin: 0 auto 0 auto;

    height: 16em;
    position: relative;

    .breakpoint-medium & {
      width: 20em;
      height: 16em;
      padding-top: 2.5em;
      padding-left: 4.1em;
      margin-left: 0;
      margin-bottom: 1em;
    }   
    .breakpoint-large & {
      width: 100%;
      margin: 0 auto 0 auto;
    }

    i.fa-play {
      color: $black40;
      position: absolute;
      font-size: 60px;
      top: 40%;
      left: 45%;
    }  
  }

  .video + p {
    margin-top: 2em;
    // margin-right: 2em;
    .breakpoint-medium & {
    margin-left: 21em;
    margin-top: -17em;
    }

    .breakpoint-large & {
      margin-left: 4em;
      margin-top: 1em;
    }
  }

}