
.component--expander {

  .expander__wrapper{
    border-bottom: 1px solid rgba( $ups-grey-1, 0.3);
    border-right: 1px dotted rgba( $ups-yellow, 0.1);
    line-height: 1.6;
    padding: 0;
    position: relative;

    &:before {
      @include pseudo-block($vertical-thread-width);
      left: 0;
      //height: calc( 100% + 1px );
      height: 100%;
      top: 0;
      background: $ups-yellow;
      z-index: 10;

      .breakpoint-small & {
        content: none;
      }

    }
  }

  i {
    display: block;
  }

  a.button{
    width: 100%;
    color: $grey70;
    cursor: pointer;
    display: block;
    margin-right: 0;
    padding: 1rem 0 1rem 2rem;
    position: relative;
    
    .breakpoint-small & {
      padding-left: 0;
    }

    &:hover, &.hover {
        background: $white05;
    }
    .fa.fa-plus, .fa.fa-minus {
        position: absolute;
        height: .9em;
        right: 1rem;
        top: 50%;
        margin-top: -0.45em;
    }
  }

  h2.expander__parent {
    margin-left: 1rem;
    margin-right: 4em;
    font-weight: 700;
    padding-bottom: 0;

    p{
      line-height: 1.9;
    }
  }
  
  .expander__child {
    position: relative;
  }

  .expander__child p{
    margin: 1em;

    &:last-of-type {
      padding-bottom: 1em;
    }
  }

  .expander__child p img { /*DD Form 214 guide*/
    display: none;
    float: left;
    clear: both;
    margin: 0.4em 1em 1em 0;

  }
  .open-expander .expander__child p img {
    display: block;
  }
  .faq.expander__child p { /*for FAQs*/
    margin-left: 4em;
  }

  .hidden-part {
    display: none;
    padding-left: 2rem;

    .breakpoint-small & {
      padding-left: 1em;
    }
  }

  

  .faq.expander__parent:before, .expander__child:before{
    color: $grey80;
    font-weight: 900;
    margin-left: -30px;
    position: absolute;
  }

  .faq.expander__parent:before{ /*for use with FAQ's*/
    content: 'Q:';
  }

  .video {
    background: $grey30;
    width: 100%;
    max-width: 21em;
    margin: 0 auto 0 auto;

    height: 16em;
    position: relative;

    .breakpoint-medium & {
      width: 20em;
      height: 16em;
      padding-top: 2.5em;
      padding-left: 4.1em;
      margin-left: 0;
      margin-bottom: 1em;
    }   
    .breakpoint-large & {
      width: 100%;
      margin: 0 auto 0 auto;
    }

    i.fa-play {
      color: $black40;
      position: absolute;
      font-size: 60px;
      top: 40%;
      left: 45%;
    }  
  }

  .video + p {
    margin-top: 2em;
    // margin-right: 2em;
    .breakpoint-medium & {
    margin-left: 21em;
    margin-top: -17em;
    }

    .breakpoint-large & {
      margin-left: 4em;
      margin-top: 1em;
    }
  }

///////////********NESTED EXPANDERS***********/////////////

  .component--expander .expander__wrapper:before {
    content: none;
  }

  .component--expander .expander__wrapper {
    margin-left: -2em;
    background: $white10;
    border-bottom: none;

    .button {
      padding-left: 3.7rem;

      .breakpoint-small & {
        padding-left: 1rem;
      }
    }

    .hidden-part {
      padding-left: 0rem;
      border-top: 1px dotted $black;

      .expander__child .job-wrapper {
        position: relative;

        &:last-child p {
         border-bottom: 1px dotted rgba( $ups-yellow, 0.4 );
        }

        &:last-child a {
          border-bottom: none;
        }
      }
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 400;
      padding-bottom: 0;
    }

     h3 {
      margin-left: 1rem;
      // padding-bottom: 1rem;
    }

    a.button {
      border-top: 1px solid $black;

    }

    p {
      @include transition (all 0.15s ease-out);
      margin: 0 0 0 $vertical-thread-width;
      padding: 1em 0 1em 4.3rem;
      border-bottom: 1px dotted $black;
      padding-right: 7rem;   

      .breakpoint-small & {
        padding-left: 1.5rem;
        padding-right: 5.5rem;
      }

      & span {
            font-weight: 800;
            color: $ups-yellow;
        }
    }
    
    p + a.search-button {
      position: absolute;
      right: 0;
      bottom: 0;
      padding-top: 0;
      display: block;
      background: $white05;
      color: $white60;
      height: 100%;
      @include transition (all 0.15s ease-out);
      width: 6em;
      text-align: center;
      border-bottom: 1px solid $black;

      .breakpoint-small & {
        width: 5em;
      }

      & div, & span {
        display: block;
        font-size: 0.8em;
        text-transform: uppercase;
        position: relative;
        top: 50%;
        height: 50%;
        margin-top: -6.5%;

        //transform: translateY(-40%);
      }

      &:hover, &:focus {
        background: $ups-yellow;
        color: $black;
      }
    }
  
    p:hover {
      background: $white10;

      & + a {
        background: $ups-yellow;
        color: $black;
      }
    }
  }
}

/////Expanders in Articles/////////////////

.article {

  .component--expander .expander__wrapper:before {
      display: none;
  }

  .component--expander .expander__wrapper {
      padding-left: 0;

      i.fa-circle {
          padding-top: 1em;
          margin-right: 1.4em;
          color: $ups-yellow;
          float: left;
          font-size: 1.1em;
      }
  }

  .component--expander .expander__child p {
      margin-left: 0;
  }

  .component--expander--faq {
    margin-top: 2em;
    
    a.button {
      padding-left: 1rem;
    }

    .hidden-part {
      padding-left: 1em;
    }

    iframe {
        width: 100%;
        padding-right: 1em;
        margin-top: 1px;
        
        .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
        }
    }

    h2.expander__parent {
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 0;

      .breakpoint-small & {
        font-size: 1em;
      }
    }
  }
}
