// A simple grid system using flexbox and percentages.

.flex-wrapper {
    @include grid-typography;
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    width: 100%;

    .breakpoint-small & {
        display: block;

    }
    .grid-icon {
        @include site-icon;
    }

    a {
        position: relative;
        display: block;
    }
}

.left-column { /*full height left hand column inside flex wrapper*/
    background: $grey--dark;
    width: 100%;
    
    & > a:hover {
        background: $grey--darker;
    }
    
    .button-group { /*For the Quick Start Linking*/
        margin-top: 1.3rem;
    }

    .button-group a {
        @include block-link;
        margin-left: 0;
        width: 100%;
    }

    .breakpoint-medium & {
        width: 50%;
    }

    .breakpoint-large &, .breakpoint-wide & {
        width: 33.34%;
    }
}

.grid-area {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    width: 100%;
    align-content: stretch;
    //FLEX REMOVAL FOR MOBILE (ANDROID)
    .breakpoint-small & {
        display: block;
    }
}

.grid-area--left-column { /*For when the grid area is next to a separate full height left column*/
    width: 100%;

    .breakpoint-medium & {
        width: 50%;
    }

    .breakpoint-large &, .breakpoint-wide & {
        width: 66.66%;
    }

    .grid-item {
        width: 100%;

        .breakpoint-medium & {
            width: 100%;
        }

        .breakpoint-large &, .breakpoint-wide & {
            width: 50%;
        }
    }
}

.grid-item {
    width: 100%;
    display: block;
    // border-left: 1px solid $ups-yellow;
    border-bottom: 1px solid $ups-yellow;
    flex-basis: 1;
    flex-grow: 1;

    padding-left: 1.5rem;
    padding-top: 1.5rem;
    position: relative;

    .breakpoint-medium & {
        width: 50%;
        border-left: 1px solid $ups-yellow;
    }

    .breakpoint-large &, .breakpoint-wide & {
        width: 33%;
        border-left: 1px solid $ups-yellow;
    }
    
    &:before {
        @include border-mask;
        background: $black;
        top: 0;
    }

    &:after {
        @include border-mask;
        background: $black;
    }

    .button-group a {
        @include block-link;
    }

    .button-group { /*For the Career Explorer Links*/
        margin-top: 1.2rem;
        padding-bottom: 0.6rem;
    }  
}

a.grid-item:hover {
    @include transition (all 0.15s ease-out);
    background: $grey--darker;
}


// Universal styles /////////////////////////////////////

.grid-item:nth-last-child(1) {
    border-bottom: none;
}

.grid-item:nth-last-child(2) {
    .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
        border-bottom: none;
    }
}


// Page specific Styles

.page--home {

    .grid-item:nth-child(3) { /*Featured videos section*/
        width: 100%;
    }

    .breakpoint-medium & .grid-item:nth-last-child(2){
        border-bottom: 1px solid $ups-yellow;
    }

    #grid-item--events { /*Needs to stay in in case events section is ever included*/
        width: 100%;
    }
}

.page--transition-guide {

    .left-column {
        .top-section {
            padding: 1.5rem 1.5rem 0;
        }

        .button-group {
            width: 100%;
            //margin-left: -1.5rem;
        }

        .breakpoint-small & {
            border-bottom: 1px solid $ups-yellow;
        }
    }

    .grid-item:nth-child(3) {
        width: 100%;
    }

    .grid-item:nth-last-child(2) {
        border-bottom: 1px solid $ups-yellow;
    }
}


.page--culture, .page--partners {

    .breakpoint-large &, .breakpoint-wide & {
        .grid-item:nth-child(3n + 1) {
            border-left: 0px;
        }

        .grid-item:nth-last-child(3) {
            border-bottom: none;
        }
    }
    
    .breakpoint-medium & {
        .grid-item:nth-child(odd) {
            border-left: 0px;
        }
    }
}

.page--culture {

    .breakpoint-medium & .grid-item:nth-last-child(2) {
        border-bottom: 1px solid $ups-yellow;
    }

    .breakpoint-medium & .grid-item:nth-last-child(1) {
        // border-bottom: 1px solid $ups-yellow;
    }
}




