// A simple grid system using flexbox and percentages.

.flex-wrapper {
    @include grid-typography;
    display: flex;
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    width: 100%;

    .grid-icon {
        @include site-icon;
    }

    a {
        display: block;
    }
}

.left-column { /*full height left hand column inside flex wrapper*/
    background: $grey--dark;
    width: 33.34%;
    // padding-left: 1.5rem;
    // padding-top: 1.5rem;
    
    a.guide-link {
        @include transition (all 0.15s ease-out);
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        min-height: 14.8em;
    }

    & > a:hover {
        background: $grey--darker;
    }
    
    .button-group { /*For the Quick Start Linking*/
        margin-top: 1.15rem;
    }

    .button-group a {
        @include block-link;
        margin-left: 0;
        width: 100%;
    }

    .breakpoint-small & {
        width: 100%;
    }

    .breakpoint-medium & {
        width: 50%;
    }
}

.grid-area {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    width: 100%;
    align-content: stretch;
}

.grid-area--left-column { /*For when the grid area is next to a separate full height left column*/
    width: 66.66%;

    .grid-item {
        width: 50%;
        .breakpoint-small & {
            width: 100%;
        }

        .breakpoint-medium & {
            width: 100%;
        }
    }

    .breakpoint-small & {
        width: 100%;
    }

    .breakpoint-medium & {
        width: 50%;
    }
}

.grid-item {
    width: 33.33%;
    display: block;
    border-left: 1px solid $ups-yellow;
    border-bottom: 1px solid $ups-yellow;
    flex-basis: 1;
    flex-grow: 1;

    padding-left: 1.5rem;
    padding-top: 1.5rem;
    position: relative;

    .breakpoint-small &{
        width: 100%;
        border-left: none;
    }

    .breakpoint-medium & {
        width: 50%;
    }
    
    &:before {
        @include border-mask;
        background: $black;
        top: 0;
    }

    &:after {
        @include border-mask;
        background: $black;
    }

    .button-group a {
        @include block-link;
    }

    .button-group { /*For the Career Explorer Links*/
        margin-top: 1.2rem;
        padding-bottom: 0.6rem;
    }  
}

a.grid-item:hover {
    @include transition (all 0.15s ease-out);
    background: $grey--darker;
}


// Universal styles

.grid-item:nth-last-child(2) {
    border-bottom: 0px;
}

.grid-item:nth-last-child(1) {
    border-bottom: 0px;
}


// Page specific Styles

.page--home {
    #grid-item--videos .link-wrapper {
        margin-left: -1.5em;

        a {
            width: calc( 50% - 1px );
            display: inline-block;
            float: left;
            margin-right: 1px;

            img {
                width: 100%;
                display: block;
            }
        }
    }

    .grid-item:nth-child(3) {
        width: 100%;
    }

    .breakpoint-medium & .grid-item:nth-last-child(2){
        border-bottom: 1px solid $ups-yellow;
    }
}


.page--culture {

    .grid-area {
        border-bottom: 1px solid $ups-yellow;
    }

    .breakpoint-large &, .breakpoint-wide & {
        .grid-item:nth-child(3n + 1) {
            border-left: 0px;
        }

        .grid-item:nth-last-child(3) {
            border-bottom: 0px;
        }
    }
    
    .breakpoint-medium & {
        .grid-item:nth-child(odd) {
            border-left: 0px;
        }

        .grid-item:nth-last-child(2) {
            border-bottom: 1px solid $ups-yellow;
        }
    }


}

