// Default styles here. See page specific areas for additional styles

.scroll-indicator--h {
    position: absolute;
    right: 0;

    .scroll-indicator__text {
        width: 100%;
        display: block;
        color: $ups-yellow;
        text-align: center;
        font-size: 0.7em;
    }

     i.fa-arrows-h {
        color: $ups-yellow;
        left: -1.3em;
        position: absolute;
        margin-top: -1.0em;
    }
}

