.page .page--job-converter .job-search--job-converter, .page .page--jobs .job-search--job-description {
    @include clearfix;
    background: $white10;
    padding: 1.5em 3em 2em 2.5em;
    margin-left: -1.5em;

    h4 {
        color: $white;
        margin-top: 0;
        margin-bottom: 0.6rem;
    }
    
    label:first-of-type{
        display: none;
        // margin-top: 0;
        // width: 49%;
    }

    label:last-of-type {
        display: none;
        // width: 49%;
        // position: relative;
        // right: -51%;
        // margin-top: -1.9em;           
    }

    select {
        display: none;
        // width: 49.5%;
        // float: right;
        // margin-bottom: 0;
    }

    input[type=text] {
        height: 2.5rem;
        float: left;
        width: 50%;
        background:$black90;
        margin-bottom: 0;
        color: $ups-yellow;
        padding-left: 0.7em;
    }

    input[type=submit] {
        width: 50%;
        float: right;

        &:hover {
            // background: $ups-brown-1;
            // color: $ups-yellow;
        }
    }
}