
// Thoughtbot Bitters Searchbar

form.search-bar {  
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-accent-color: $black;
  $dark-gray: #333 !default;
  //////////////////////////////////////////////////////////////////////////////////

  // $search-bar-border-color: $base-border-color;
  // $search-bar-border: 1px solid $search-bar-border-color;
  // $search-bar-background: lighten($search-bar-border-color, 10%);

  position: relative;

  input[type=search] {
    @include appearance(none);
    @include box-sizing(border-box);
    @include transition(border-color);
    @include placeholder { 
      color: $grey80; 
    }
    background-color: $white60;
    border-radius: 0;
    border: none;
    color: #000;
    display: block;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    padding: ($base-spacing / 3) ($base-spacing / 3);
    position: relative;
    width: 100%;
  }

  button[type=submit] {
    @include button(flat, $base-accent-color);
    @include position(absolute, 0em 0em 0em null);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-radius: 0;
    outline: none;
    padding: 5px 10px;
    @include size(2.5em 100%);

    img {
      height: 12px;
      opacity: 0.7;
    }
  }
}

