html {
    // @include background(linear-gradient(#333, white) left no-repeat);
    overflow-x: hidden;
    background: $black;
    background-color: $black;
}

body {
    font-family: $primary-font-family;
    // background: white;
    .breakpoint-small & {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
}

h1, h2, h3, h4, li {
    color: $white;
    font-family: $primary-font-family;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

p {
    color: $white;
    font-family: $primary-font-family;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

h1 {
    font-size: 1.4em;
    line-height: 1.2;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 0.9em;
}


a {
    color: $black;
}

a:link {
}

a:visited {
}

a:hover {
    // background-color: #eee;
    color: $grey60;
}

a:active {
}

.hidden {
    display: none;
}

// .grid--articles {
//   position: relative;
// }


// .grid--articles:hover {
//   background: none;
// }

//
//svg.section-svg {
//  width: 35px;
//  height: 35px;
//  float: left;
//  margin-right: 1em;
//}

.grid-icon {
  @include site-icon;
}