html {
    // @include background(linear-gradient(#333, white) left no-repeat);
    overflow-x: hidden;
    background: $black;
    background-color: $black;
    height: 100%;
}

body {
    font-family: $primary-font-family;
    // background: white;
    height: 100%;

    .breakpoint-small & {
      width: 100%;
      overflow-x: hidden;
    }
}

h1, h2, h3, h4, li {
    color: $white;
    font-family: $primary-font-family;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

p {
    color: $white;
    font-family: $primary-font-family;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

h1 {
    font-size: 1.4em;
    line-height: 1.2;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 0.9em;
}


a {
    color: $black;
}

a:link {
}

a:visited {
}

a:hover {
    color: $grey60;
}

a:active {
}

.hidden {
    display: none;
}

// .grid-icon {
//   @include site-icon;
// }

.text--bold {
    font-weight: 800;
}

.block-link {
    @include block-link;
}