// @font-face {
//   font-family: 'English-Russian Architect';
//   src: url('http://www.fontsaddict.com/fontface/english-russian-architect.ttf');
// }

// $primary-font-family: 'English-Russian Architect', 'Lato', sanserif;

// $primary-font-family: 'English-Russian Architect', 'Lato', sanserif;

$primary-font-family: 'Arial', sanserif;

// $primary-font-family: 'Architects Daughter', cursive;

$secondary-font-family: 'English-Russian Architect', 'Lato', serif;


$headline-font: 'GuardianEgyp-Hairline';
