/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/

#IGNORE WEB ASSETS TO ALLOW ASSETIC TO MANAGE
/web/bundles/

#IGNORE PROJECT FILES
nbproject/
.idea/
/web/css

#IGNORE GULP STUFF
node_modules/
#gulpfile.js
.sass-cache/

#IGNORE COMPILED BUNDLE CSS TO ALLOW
src/UPS/VCGBundle/Resources/public/css/*

#IGNORE BOWER COMPONENTS
bower_components/
src/UPS/VCGBundle/Resources/public/js/vendor/

# Preserve Job Map data import
/web/js/*.js
!web/js/job-map/*
