


$black: rgba( 16,16,16,1);
$black90: rgba( $black, 0.9 );
$black80: rgba( $black, 0.8 );
$black70: rgba( $black, 0.7 );
$black60: rgba( $black, 0.6 );
$black50: rgba( $black, 0.5 );
$black40: rgba( $black, 0.4 );
$black30: rgba( $black, 0.3 );
$black20: rgba( $black, 0.2 );
$black15: rgba( $black, 0.15 );
$black10: rgba( $black, 0.1 );
$black05: rgba( $black, 0.05 );
$black01: rgba( $black, 0.02 );


$white: #fff;
$white90: rgba( $white, 0.9 );
$white80: rgba( $white, 0.8 );
$white70: rgba( $white, 0.7 );
$white60: rgba( $white, 0.6 );
$white50: rgba( $white, 0.5 );
$white40: rgba( $white, 0.4 );
$white30: rgba( $white, 0.3 );
$white20: rgba( $white, 0.2 );
$white15: rgba( $white, 0.15 );
$white10: rgba( $white, 0.1 );
$white05: rgba( $white, 0.05 );


$grey90: lighten( $black, 10%);
$grey80: lighten( $black, 20%); 
$grey70: lighten( $black, 30%); 
$grey60: lighten( $black, 45%); 
$grey50: lighten( $black, 55%); 
$grey40: lighten( $black, 65%); 
$grey30: lighten( $black, 75%); 
$grey20: lighten( $black, 80%); 
$grey10: lighten( $black, 85%); 
$grey: $grey80;

$grey--darkest: #111;
$grey--darker: #222;
$grey--dark: #333;
$grey--medium: #adadad;


$ups-yellow: rgba(255,181,0,1);
$ups-brown-1: rgba(53,28,21,1);
$ups-grey-1: rgba(218,217,214,1);

/*secondary pallet*/
$ups-orange: #F89521;
$ups-green: #6FBE44;
$ups-teal: #65C5B4;
$ups-blue: #00A4C7;
$ups-tan: #E1C8B0;


// Cruft below
$brown: $ups-brown-1;