@mixin circle($diameter) {
    width: $diameter;
    height: $diameter;
    display: block;
    background-color: grey;
    border-radius: 50%;
    padding: 15px 0 0 15px;
}

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}


@mixin pseudo-block($size) {
  background: red;
  content: '';
  display: block;
  height: $size;
  position: absolute;
  width: $size;
  z-index: 1000;
}

@mixin hide-on-mobile {
  .breakpoint-small & {
    display: none;
  }
}

@mixin show-on-mobile {
  .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
    display: none;
  }
}

.hide-on-mobile {
  @include hide-on-mobile;
}

.show-on-mobile {
  @include show-on-mobile;
}

@mixin site-icon {
  @include size(3.5em);
//  border-radius: 50%;
//  border: 1px $ups-yellow solid;
  display: block;
  float: left;
  margin-left: 1.5em;
//  padding: 0.4em;
}

@mixin constrain-content{
  .breakpoint-medium & {
      max-width: $max-width--medium;
      margin-left: auto;
      margin-right: auto;
  }

  .breakpoint-large & {
      max-width: $max-width--large;
      margin-left: auto;
      margin-right: auto;
  }

  .breakpoint-wide & {
      max-width: $max-width--wide;
      // background: red;
      margin-left: auto;
      margin-right: auto;
  }
}

@mixin header-heights {
  .breakpoint-small & {
    height: $header-height-short--small;
  }
  .breakpoint-medium & {
      height: $header-height-short--medium;
  }

  .breakpoint-large & {
      height: $header-height-short--large;
  }

  .breakpoint-wide & {
      height: $header-height-short--wide;
  }

}

@mixin home-header-heights {
  .breakpoint-small & {
    height: $header-height--small;
  }
  .breakpoint-medium & {
    height: $header-height--medium;
  }

  .breakpoint-large & {
    height: $header-height--large;
  }

  .breakpoint-wide & {
    height: $header-height--wide;
  }
}

@mixin border-mask {
  @include pseudo-block(0.6em); 
  background: $black; 
  width: 1px;
  right: -1px;
  bottom: 0;
}


