$halfBaseUnit: 1em;

$base-unit: 2rem;

$vertical-thread-width: 8px;

// Use these variables to constrain the content narrower than the width of the associated breakpoint 
$max-width--small: 750px;

$max-width--medium: 960px;

$max-width--large: 1200px;

$max-width--wide: 1400px;


// Bitters
$base-spacing: 1.5em;