.veteranGateway {
    // background: url(../img/graphy-2-30.png) top center;
    background: $black;
    background-color: $black;
    // @include linear-gradient(#212121, $black);

    position: relative;
    // padding-bottom: 10em;
    margin-top: 0em;

    &:before {
        .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
            // @include pseudo-block(2.2em);
            @include position(absolute, -2.2em null 0 0);
            width: 100%;
            background: $black30;
            z-index: 0;

        }
    }
}


.veteranGateway__liner {
    position: relative;
    // background: $black;
    // background: pink;

    .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
        // padding-top: 9.5em;
    }

     .breakpoint-small & {
        // max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }

    .breakpoint-medium & {
        max-width: $max-width--medium;
        // background: yellow;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }

    .breakpoint-large & {
        max-width: $max-width--large;
        // background: green;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }

    .breakpoint-wide & {
        max-width: $max-width--wide;
        // background: blue;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }

   

    // .breakpoint-large & {
    //     // max-width: 1000px;
    //     margin-left: auto;
    //     margin-right: auto;
    //     padding-left: 0;
    // }

    // .breakpoint-wide & {
    //     // max-width: 1400px;
    //     margin-left: auto;
    //     margin-right: auto;
    //     padding-left: 0;

    // }

    .title-block {
        // height: 5em;
        // background: red;
        background: #222;
        padding-left: 1em;
        padding-top: 1.5em;

        p { 
            color: $ups-yellow;
        }

        .breakpoint-small & {
            height: 5.5em;
        }

        .breakpoint-medium & {
            padding-right: 2em !important;
        }

        .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
            background: $black;
            width: 50%;
            height: 5em;
            // margin-top: -7.5em;
            @include position( -5em null null 0 );
            // text-align: right;
            padding-top: 1em;
            padding-right: 5.5em;
            padding-left: 6.5em;
            border-bottom: 1px solid $ups-yellow;
            // border-right: 1px solid $ups-yellow;

    
            h1 {
                font-size: 1.7em;
                font-weight: 400;
            }
            
            p {

                color: $ups-yellow;
                font-size: 1em;
                font-weight: 900;
                line-height: 1;
                padding-bottom:1em;
            }

            &:before {
                @include pseudo-block(5em);
                width: 100%;
                @include position(absolute, 0 null null -100%);
                background: $black;
                border-bottom: 1px solid $ups-yellow;
            }

            &:after {
                @include pseudo-block(5em);
                width: 200%;
                @include position(absolute, 0 null null 100% );
                background: rgba( $ups-yellow, 0.8 );
                z-index: 0;
            }
        }
        
        ul {
            // background: $black10;
            display: none;
            .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
            display: inline-block;
            // margin-left: 18em;
            @include position(absolute -90% 5.85em null null);
            height: 5em;
            // background: red;
            padding-top: 1.7em;
            z-index: 2;
            // margin-top: -2em;
            // height: 4em;
            }
        }

        ul li {
            margin-left: 1.5em;
            margin-right: 1.5em;
            display: inline-block;
            
        }

       
    }    
}

.page {
    @include clearfix;
    #side--a, #side--b {
        float: left;
        width: 50%;
        -webkit-transition: width .7s ease-in-out;
                transition: width .7s ease-in-out;
                
                &.full-width {
                    width: 100%;
                }
    }
    .intro>i {
        float: left;
        @include size(84px);
        color: $grey60;
        font-size: 80px;
        padding: 0 13px 0 0;
    }

    .breakpoint-large &, .breakpoint-wide & {
        position: relative;

        .intro {
            /*width: 50%;*/
            /*position: absolute;*/
            padding: 0;
            padding: 0 2.5em 0 2.7em;

            img {
                margin-top: 3em;
                display: block;
            }
        }

        .component--expander {
            /*width: 50%;*/
            /*margin-left: 50%;*/
/*            right:0;
            top: 0;*/
        }
    }

    section.title {
        width: 100%;
        background: $black10;
        margin-bottom: 2em;
        // position: absolute;
    }
}

h1.page--title {
    // @include position(relative, 4rem null null 2rem );
    // padding-top: 30px;
    color: $grey70;
    margin: 0 1rem 1rem;
    // background: red;

    .breakpoint-wide & {
        // left: 0;
    }
}

 section.intro {
    // padding: 1em;
}