.page--faq {

    .intro {
        
    }

    .breakpoint-large & {
        .intro {
            width: 40%;
            // position: absolute;
            // background: blue;
            padding: 0;
            float: left;
        }

        .component--faq {
            // @include position(absolute, null 0 null null);
            // background: red;
            width: 60%;
            // float: right;
            margin-left: 40%;
            position: relative;
            right:0;
        }

    }

   

    iframe {
        @include position( 0 auto );
    }
}
   
    .component--expander--faq {
        margin-left: -1em;
        margin-top: 2em;

        .breakpoint-small & {
            margin-left: -2em;

            iframe {
                width: 100%;
            }
        }
        
        & .expander__child {
            // padding-left: 2em;
        }


    } 

 .component--expander--faq h2.expander__parent {

    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    .breakpoint-small & {
        font-size: 1em;
    }
}




