.veteranGateway {
    background: $black;
    background-color: $black;
    position: relative;
    margin-top: 0em;
    z-index: 0;
    display:block;

    &:before {
        .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
            // @include pseudo-block(2.2em);
            @include position(absolute, -2.2em null 0 0);
            width: 100%;
            background: $black30;
            z-index: 0;
        }
    }
}


.veteranGateway__liner {
    position: relative;

    .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
        // padding-top: 9.5em;
    }

     .breakpoint-small & {
        // max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }

    .breakpoint-medium & {
        max-width: $max-width--medium;
        // background: yellow;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }

    .breakpoint-large & {
        max-width: $max-width--large;
        // background: green;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }

    .breakpoint-wide & {
        max-width: $max-width--wide;
        // background: blue;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }

    .title-block {
        background: #222;
        padding-left: 1em;
        padding-top: 1.5em;

        p { 
            color: $ups-yellow;
        }

        .breakpoint-small & {
            height: 5.5em;
        }

        .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
            background: $black;
            width: 50%;
            height: 5em;
            // @include position(absolute -5em null null 0 );
            position: absolute;
            top: -5em;
            left: 0;
            padding-top: 1em;
            padding-right: 5.5em;
            padding-left: 6.3em;
            border-bottom: 1px solid $ups-yellow;
    
            h1 {
                font-size: 1.7em;
                font-weight: 400;
            }
            
            p {

                color: $ups-yellow;
                font-size: 1em;
                font-weight: 900;
                line-height: 1;
                padding-bottom:1em;
            }

            &:before {
                @include pseudo-block(5em);
                width: 100%;
                @include position(absolute, 0 null null -100%);
                background: $black;
                border-bottom: 1px solid $ups-yellow;


            }

            &:after {
                @include pseudo-block(5em);
                width: 200%;
                @include position(absolute, 0 null null 100% );
                background: rgba( $ups-yellow, 0.8 );
                z-index: 0;
            }
        }

        .breakpoint-large &, .breakpoint-wide & {
            width: 66.6%;
        }

        .breakpoint-medium & {
            padding-right: 2em !important;
            height: 7em;
            top: -7em;

            &:before {
                height: 7em;
            }
            &:after {
                height: 5em;
                top: 0;
        
             }
        }


        
        ul {
            // background: $black10;
            display: none;
            .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
            display: inline-block;
            // margin-left: 18em;
            @include position(absolute -90% 5.85em null null);
            height: 5em;
            // background: red;
            padding-top: 1.7em;
            z-index: 2;
            // margin-top: -2em;
            // height: 4em;
            }
        }

        ul li {
            margin-left: 1.5em;
            margin-right: 1.5em;
            display: inline-block;
            
        }
        
        .breakpoint-medium & h1 { /*infill hack to match the right side height. should be reengineered*/
            &:after {
                @include pseudo-block(200%);
                // height: 5em;
                // top: 0;
                left: 100%;
                bottom: -1px;
                height: 2rem;
                background: $grey--darker;
                border-bottom: 1px solid $ups-yellow;
                z-index: 1;
            }
        }
    }    

}


 

.page {
    @include clearfix;

    .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
        // margin-top: -5em;
    }

    #side--a {
        z-index: 2;
        -webkit-transition: min-height 0.5s;
        transition: min-height 0.5s;
    }

    #side--b {
        z-index: 1;
    }
    
    #side--a, #side--b {
        // float: left;
        // width: 50%;
        .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
            float: left;
            width: 50%;
        }
        // -webkit-transition: width 1.5s ease-out;
        // transition: width 1.5s ease-out;
                
                // &.full-width {
                //     width: 100%;
                // }
    }

    .intro>i {
        float: left;
        @include size(84px);
        color: $grey60;
        font-size: 80px;
        padding: 0 13px 0 0;
    }

    .breakpoint-large &, .breakpoint-wide & {
        position: relative;

        .intro {
            /*width: 50%;*/
            /*position: absolute;*/
            padding: 0;
            padding: 0 2.5em 0 2.7em;

            img {
                margin-top: 3em;
                display: block;
            }
        }

        .component--expander {
            /*width: 50%;*/
            /*margin-left: 50%;*/
/*            right:0;
            top: 0;*/
        }
    }

    section.title {
        width: 100%;
        background: $black10;
        margin-bottom: 2em;
        // position: absolute;
    }

    /*form stuff*/

    
    input[type=text] {
        background-color: $ups-grey-1;
        border: none;
        border-radius: 0;
    }

    input[type=text]:focus {
        background-color: $white;
    }

    input[type=submit] {
        background-color: $ups-yellow;
        border-radius: 0;
        color: $black;
        text-transform: uppercase;
        width: 100%;
        display: block;
        // margin: 1em;

        &.disabled-input {
            // background: $grey60;
        }
    }


//////////////////////*************CAREER SECTION PAGES**********////////////////////
     
     .page--jobs, .page--map, .page--job-converter, .page--ddform214 {
        .breakpoint-large & .title-block, .breakpoint-wide & .title-block {
            width: 50%;
        }

        .breakpoint-medium & .title-block h1:after {
            border-bottom: none;
            background: $black;
        }
    }
    

    nav.nav--career-explorer {
        position: absolute;
        left: 50%;
        top: -5em;

        .breakpoint-small & {
            display: none;
        }

        .breakpoint-medium & {
            top: -7em;
        }

        a {
            @include size(5em);
            display: inline-block;
            text-align: center;
            margin: 0;
            margin-right: 0;
            float: left;
            margin-left: 0;
            padding: 1em 0 0 0;

            &:nth-child(1) {
               background: $black50; 
            }

            &:nth-child(2) {
               background: $black30; 
            }

            &:nth-child(3) {
               background: $black10; 
            }

            &.current-page:after {
                @include pseudo-block(4px);
                bottom: -4px;
                width: 5em;
                background: $ups-yellow;
            }
        }

        a:hover {
            background: $ups-yellow;

            .caption {
                color: $black;
            }
            svg {
                fill: $black;
            }
        }

        img {
            @include size(2em);
            display: inline-block;
            float: none;
        }

        .caption {
            color: $white;
            text-transform: uppercase;
            display: block;
            font-size: 0.7em;
        }
    }
    
}

h1.page--title {
    // @include position(relative, 4rem null null 2rem );
    // padding-top: 30px;
    color: $grey70;
    margin: 0 1rem 1rem;
    // background: red;

    .breakpoint-wide & {
        // left: 0;
    }
}

 section.intro {
    // padding: 1em;
}