.page--map {
    
    &:after {
        clear: both;
        content: "";
        display: table;
    }
    
    .map-section {
        width: 100%;
        max-width: 1000px;

        margin: 0px auto;
        padding: 1em 0px;
        
        .breakpoint-wide & {
            width: 50%;
            
            padding: 0px 2.5em 0px 2.7em;
            
            float: left;
        }
        
        .map-wrapper { margin-bottom: 1em; }
        
        .map-selects {
            .breakpoint-small & { padding: 0px 1em; }
        }
    }
    
    .map-info-section {
        width: 100%;
        max-width: 1000px;
        
        margin: 0px auto;
        padding: 1em 0px;
        
        .breakpoint-wide & {
            width: 50%;
            
            float: right;
        }
        
        .breakpoint-small & { padding: 0px 1em 2em 1em; }
        
        .map-info--initial {
            .breakpoint-small & { display: none; }
        }
    }
    
    .svg-map {
        width: 100%;
        height: 400px;
        
        display: block;

        .breakpoint-small & { display: none; }
        
        .breakpoint-large & { height: 700px; }
        
        .breakpoint-wide & { height: 450px; }

     
        path { cursor: pointer; }
    }
}