.page--culture {

    .video-block {
        @include grid-typography;
        padding-top: 1.5em;
        padding-bottom: 2em;
        padding-left: 1.5em;
        border-top: 1px solid $ups-yellow;
        
        .grid-icon {
            @include site-icon;
        }

        .scroll-container {
            clear: both;
            margin-left: -1.5em;
        }
    }
}