

///////////////////Home Page Grid Styles. Content appearance below.///////////////

#grid-item--transition-guide {
    &.coming-soon {
        background: transparent;
        #cs-wrapper {
            background: $grey--dark;
        }
    }
    a.guide-link {
        @include transition--standard;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        min-height: 14.8em;
    }

    // Styles for the mobile app link area below
    .app-download-wrapper {
        padding: 1.5em 1.5em 0 1.5em;
        @include clearfix;

        h2 {
            margin-left: 0;
            margin-top: 0;
        }

        img.app-hand {
            width: 50%;
            display: inline-block;
            margin-top: 1.5em;
            margin-left: -1.5em;
            float:left;
            max-height: 100%;
        }

        .badge-wrapper {
            max-height: 100%;
            width: 50%;
            float: right;
            padding-top: 2.5em;
            text-align: right;

            // background: red;
        }

        img.badge--apple, img.badge--google, svg#badge--google {
            width: 100%;
            margin-bottom: 0.5rem;

            .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
                width: 75%;
                margin-right: 1.5em;
            }
        }
    }
    .coming-soon-app-wrapper {
        //padding: 1.5em 1.5em 0 1.5em;
        @include clearfix;
        &:hover {
            background: transparent;
        }
        h2 {
            margin-left: 0;
            margin-top: 0;
            padding: 1.5em 1.5em 0 1.5em;
        }
        p {
            padding: 0 1.5em 0;
        }
        svg {
            width: 100%;
            margin-top: 1.5em;
        }
        img.app-hand {
            width: 50%;
            display: inline-block;
            margin-top: 1.5em;
            margin-left: -1.5em;
            float:left;
        }

        .badge-wrapper {
            width: 50%;
            float: right;
            padding-top: 2.5em;
            text-align: right;

            // background: red;
        }

        img.badge--apple, img.badge--google, svg#badge--google {
            width: 100%;
            margin-bottom: 0.5rem;

            .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
                width: 75%;
                margin-right: 1.5em;
            }
        }
    }
}

#grid-item--videos .video-link-wrapper {
    margin-left: -1.5em;
    margin-top: 1.2em;
    @include clearfix;
    a {
        width: 50%;
        width: calc( 50% - 1px );
        display: inline-block;
        float: left;
        padding-right: 1px;

        img {
            width: 100%;
            display: block;
            height: 37.5%;
            .breakpoint-small & {
                height: auto;
            }
        }
    }
}


.grid-item#grid-item--events { /*needs to be left in place in case events grid cell is ever added*/

    .all-events-wrapper {
        border-top: 1px solid rgba( $ups-yellow, 0.1 );
    }
    
    a:hover .event__wrapper {
        background: $white10;
    }

    .event__wrapper {
        height: 8em;
        @include transition( all 0.15s ease-out);
        padding: 1em 0 0 0;
        max-width: 14em;
        float: left;

        h2, p {
            white-space: normal;
            margin: 0 1rem;
            margin-top: 0;
        }

        .breakpoint-small & {
            width: 100%;
        }
    }

    .block-link.all-events-link {
        padding-top: 0.5em;
        text-transform: uppercase;
        text-align: center;
        height: 2em;
    }
}


.grid-item#grid-item--social {
    padding-bottom: 1.5em;

    a {
        display: inline-block;
        line-height: 0;
    }

    a:hover i.fa {
        color: $ups-grey-1;
    }

    i.fa {
        @include transition (all 0.15s ease-out);
        font-size: 2.95em;
        color: $ups-yellow;
        margin-top: 1rem;
        margin-right: 1rem;
    }  
}

.grid-item#grid-item--search {
    .breakpoint-small & {
        padding-bottom: 1.5em;
    }
    form {
        margin-top: 1.2em;
    }

    input[type="text"] {
        background: $white15;
        color: $ups-yellow;
        border-radius: 0px;
        border: 0;
        margin: 0em 1.5rem 1.5rem 0;
        margin-right: 0;
        width: calc( 100% - 8.5rem);
        height: 2.5em;
        float: left;
        padding-left: 0.7em;
    }

    .button {
        @include size(7rem 2.5rem);
        @include transition (all 0.15s ease-out);
        background: $ups-yellow;
        color: $black;
        padding: 0.3em 0 0 0;
        margin-top: 0;
        border-radius: 0;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;

        &:hover {
            background: $ups-brown-1;
            color: $ups-yellow;
        }
    }
}




