.page--culture {
  .grid--ra-guidebook {
    .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
      height: auto;
    }
    .button-group {
      margin-top: 1em;
      position: relative;
    }
    a.button {
      display: block;
    }
  }
  .video-block {
    margin-bottom: 2em;
    margin-top: 2em;
    .grid-icon {
      margin-right: 1em;
    }

    .scroll-container {
      clear: both;
      margin-top: 2em;
    }
  }
}