.page--404 {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 4em;
  background: $grey--darkest;

  .button--404 {
    background-color: $ups-yellow;
    color: $black;
    text-align: center;
    padding: 0.5em;
    margin: 2em;
  }

  h1 {
    margin: 2em;
  }
}