// .page--ddform214 {

//     #side--a {
//         position: relative;

//         .intro {
//             // background: $black70;
//             padding: 1.5em 3em 3em 0em;

//             h1 {
//                 margin-left: 6.5rem;
//                   font-size: 1.3em;
//                   margin-top: 0.8em;
//                   margin-bottom: 1.5em;
//                   margin-left: 4.8em;
//                   margin-right: 0.7em;
//                   color: $white;

//             }

//             // p {
//             //     margin-left: 2em;
//             // }
//         }
//     }
// }

.page--jobs {
    
    #side--a {
        position: relative;

        .intro {
            @include grid-typography;
            // background: $black70;

            padding: 1.5em;
            background: $grey--dark;
             
             .breakpoint-small & {
                padding: 1em 1em 1em 0;
                background: none;

                svg {
                    margin-left: 1em;
                }
            }

            .grid-icon {
                @include site-icon;
            }


            h1 {                
                .breakpoint-small & {
                    display: none;
                }
            }

            p {
                // margin-left: 2em;

                .breakpoint-small & {
                    margin-left: 6em;
                }
            }
        }

        .image-filler {
            height: 20em;
        }
        
        .scroll-indicator--h {
            margin-top: -1.2em;
            // bottom: 1.5em;
            left: 3.1em;
            right: auto;
            // bottom: 0.1em;

            .breakpoint-small & {
                left: 2.2em;
            }
        }

        .scroll-container {
            padding-top: 0;
            margin-top: 0;
            margin-left: 0;
        }
    }

    #side--b {

        &:before {
            @include pseudo-block($vertical-thread-width);
            height: 100%;
            background: $white10;
            z-index: 0;

            .breakpoint-small & {
                display: none;
            }
        }

        &:after {
            @include pseudo-block(100%);
            right: 50%;
            width: 50%;
            height: 100%;
            background: $grey--dark;
            z-index: -1;
            top: 10em;
            background: $white05;
        }

        .breakpoint-small &:after {
            display: none;
        }
        
        

        .component--expander {
            margin-top: 4em;
            margin-bottom: 0;
            border-top: 1px solid $white30;
            // border-right: 1px solid rgba( $ups-yellow, 0.05 );
        }
    }
}