.page--transition-guide {
    .left-column {
        padding-bottom: 0;
    }

    .grid-area {
        // align-content: stretch;
    }

   .app-download-wrapper {
        padding: 1.5em 1.5em 0 1.5em;
        margin-left: -1.5em;
        width: calc( 100% + 3em );

        h2 {
            margin-left: 0;
            margin-top: 0;
        }

        img.app-hand {
            width: 50%;
            display: inline-block;
            margin-top: 1.5em;
            margin-left: -1.5em;
        }
            
        .badge-wrapper {
            width: 50%;
            float: right;
            padding-top: 2.5em;
            text-align: right;
        }

        img.badge--apple, img.badge--google, svg#badge--google {
            width: 100%;
            margin-bottom: 0.5rem;

            .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
                width: 75%;
                margin-right: 1.5em;
            }
        }
    }
}