
.page.page--partners {

    .grid-items-lines {
      
        .grid-item:nth-child(4), .grid-item:nth-child(5), .grid-item:nth-child(6) {
            border-bottom: 0;
        }

        .grid-item:nth-child(6) {
            border-right: none;
        }

        .grid-item {
            .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
                height: 19rem;
            }
        }
    }
}