.page.page--jobs, .page.page--ddform214 {
    
    #side--a {
        position: relative;

        .intro {
            // background: $black70;
            padding: 1.5em 3em 3em 0em;
            background: $grey--dark;


            h1 {
                margin-left: 6.5rem;
                  font-size: 1.3em;
                  margin-top: 0.8em;
                  margin-bottom: 1.5em;
                  margin-left: 4.8em;
                  margin-right: 0.7em;
                  color: $white;

            }

            p {
                margin-left: 2em;
            }
        }

        .image-filler {
            height: 20em;
        }
        
        .scroll-indicator--h {
            margin-top: -1.5em;
            // bottom: 1.5em;
            left: 2.8em;
            right: auto;
            bottom: 0.1em;
        }

        .scroll-container {
            padding-top: 0;
            margin-top: 0;
        }
    }

    #side--b {

        &:before {
            @include pseudo-block($vertical-thread-width);
            height: 100%;
            background: $white10;
            z-index: 0;
        }

        &:after {
            @include pseudo-block(100%);
            right: 50%;
            width: 50%;
            height: 100%;
            background: $grey--dark;
            z-index: -1;
            top: 10em;
            background: $white05;
        }

        .component--expander {
            margin-top: 3em;
            margin-bottom: 0;
            border-top: 1px solid $white30;
            // border-right: 1px solid rgba( $ups-yellow, 0.05 );
        }
    }
}

// .page--jobs {
//     #video-list a.video-link:nth-child(1):hover:after{
//         content: 'Feeder Driver'
//     }
//     #video-list a.video-link:nth-child(2):hover:after{
//         content: 'Frontline Supervisor'
//     }
//     #video-list a.video-link:nth-child(3):hover:after{
//         content: 'Human Resources'
//     }
//     #video-list a.video-link:nth-child(4):hover:after{
//         content: 'Mechanic'
//     }
//     #video-list a.video-link:nth-child(5):hover:after{
//         content: 'Over the Road Driver'
//     }
//     #video-list a.video-link:nth-child(6):hover:after{
//         content: 'Package Delivery Driver'
//     }
//     #video-list a.video-link:nth-child(7):hover:after{
//         content: 'Package Handler'
//     }
//     #video-list a.video-link:nth-child(8):hover:after{
//         content: 'Sorter'
//     }
//     #video-list a.video-link:nth-child(9):hover:after{
//         content: 'Technician'
//     }
// }