.page--culture {
  .grid--ra-guidebook {
    .breakpoint-medium &, .breakpoint-large &, .breakpoint-wide & {
      height: auto;
    }
    .button-group {
      margin-top: 1em;
      position: relative;
    }
    a.button {
      display: block;
    }
  }
}