.page--transition-guide {

    .grid--transition-guide-intro {
        font-weight: 800;
        font-size: 1em;

        .button-group {
            position: relative;
            a {
                display: block;
            }
        }
    }      

    .grid-item:nth-child(1) {
        height: auto;
        border-bottom: none;

        .breakpoint-small & {
            border-bottom: 1px solid $ups-yellow;
        }

        .button-group {
            margin-top: 2em;
            margin-bottom: 0;

             &:last-child:before {
                
                .breakpoint-wide &{
                    @include pseudo-block(1px);
                    bottom: 0;
                    left: -1px;
                    height: 200%;
                    background: none;
                    border-left: 1px dotted rgba( $ups-yellow, 0.08 );
                    z-index: 100;
                    height: 100%;
                }
            }
        }
    }

    .grid-item:nth-child(2), .grid-item:nth-child(3) {
        .breakpoint-wide &{
            height: 11em;
        }

        .breakpoint-large & {
            height: 12em;
        }

        .breakpoint-medium & {
            height: 13em;
        }

    }

    .grid-item:nth-child(4) {
        height: auto;
        border-right: none;
    }

    .grid-item:nth-child(5) {
        height: auto;
        border-right: none;
        border-bottom: none;

        &:before{
            @include pseudo-block(1px);
            height: 100%;
            left: -1px;
            background: $ups-yellow;
        }

        &:after{
            left: -1px;
            z-index: 10000;
        }
    }
}