<div class="grid-item grid--announcements">
    <img src="{{ asset('bundles/vcg/images/lightbulb.png') }}" alt="">
    <h1>Search Jobs</h1>
    <input type="text">
    <a href="javascript:void" class="button">GO</a>
</div>