<a href="javascript:void(0)" class="grid-item grid--announcements">
                        <img src="{{ asset('bundles/vcg/images/placeholder_logo_2_dark.png') }}" alt="">
                        <h1>Announcements</h1>
                        <p>The latest from UPS</p>
                        <p>The latest from UPS</p>
                        <p>The latest from UPS</p>
                        <p>The latest from UPS</p>
                      </a>