<div class="grid-item grid--announcements">
    <img src="{{ asset('bundles/vcg/images/lightbulb.png') }}" alt="">
    <h1>Search Jobs</h1>
    <input id="search-field" type="text">
    <a href="#" id="search-submit" class="button">GO</a>
</div>