<a href="transition-guide.html" class="grid-item grid--announcements">
    <img src="{{ asset('bundles/vcg/images/lightbulb.png') }}" alt="">
    <h1>Announcements</h1>
    <p>The latest from UPS</p>
    <p>The latest from UPS</p>
    <p>The latest from UPS</p>
    <p>The latest from UPS</p>
</a>