<div href="transition-guide.html" class="grid-item grid--announcements">
    <img src="{{ asset('bundles/vcg/images/lightbulb.png') }}" alt="">
    <h1>Service Member & Veteran Quick Start</h1>
    <p><a href="{{ path('transition_guide_page', {'slug':'dd-form-214-guide'}) }}">DD Form 214 Guide</a></p>
    <p>The latest from UPS</p>
    <p>The latest from UPS</p>
    <p>The latest from UPS</p>
</div>