<div id="grid-item--career-explorer" class="grid-item">
    {% include 'VCGBundle:Svgs:handshake.svg.twig' %}
    <h1>Careers at UPS</h1>
    <div class="button-group">
        <a href="{{ path('page',{'slug':'job-converter'}) }}" class=" black"><span></span>Military Skills Translator</a>

        <a href="{{ path('page',{'slug':'jobs'}) }}" class=" black"><span></span>UPS Job Descriptions</a>

        <a href="{{ path('page',{'slug':'job-map'}) }}" class=" black"><span></span>UPS Jobs Map</a>
    </div>
</div>
