<div class="grid-item grid--career-explorer">
    {% include 'VCGBundle:Svgs:handshake.svg.twig' %}
    <h1>Careers at UPS</h1>
    <div class="button-group">
        <a href="{{ path('page',{'slug':'job-converter'}) }}" class="button black"><span></span>Convert your Military Skills</a>

        <a href="{{ path('page',{'slug':'jobs'}) }}" class="button black"><span></span>Types of Jobs Available at UPS</a>

        <a href="{{ path('page',{'slug':'job-map'}) }}" class="button black"><span></span>UPS Jobs Map</a>
    </div>
</div>
