<a class="grid-item grid-item-big grid--events">
    <img src="{{ asset('bundles/vcg/images/bubbles.png') }}" alt="">
    <h1>Events</h1>
    
    <div class="all-events-wrapper">
        <section class="event__wrapper"> 
        <h2 class="event__title">Event 1 Lorem Ipsum Title</h2>
        <p class="event__date">
            Sept 1, 2015
            <span class="event__optional-end-date"><!--&mdash 4--></span>
        </p>
        <p>
            <span class="event__city">Nashville,</span>
            <span class="event__state">TN</span>
        </p>
        
    </section>

    <section class="event__wrapper"> 
        <h2 class="event__title">Event 2 Lorem Ipsum Title</h2>
        <p class="event__date">
            Oct 1, 2015
            <span class="event__optional-end-date"><!--&mdash 4--></span>
        </p>
        <p>
            <span class="event__city">Cincinatti,</span>
            <span class="event__state">OH</span>
        </p>
        
    </section>

    <section class="event__wrapper"> 
        <h2 class="event__title">Event 3 Lorem Ipsum Title</h2>
        <p class="event__date">
            Nov 1, 2015
            <span class="event__optional-end-date"><!--&mdash 4--></span>
        </p>
        <p>
            <span class="event__city">Mobile,</span>
            <span class="event__state">Alabama</span>
        </p>
        
    </section>
    </div>
    
    
    <div href="{{ path('page',{'slug':'events'}) }}" class="button all-events-link">See all Events</div>
</a>
