<div class="grid-item grid-item-big grid--events">
    <img src="{{ asset('bundles/vcg/images/bubbles.png') }}" alt="">
    <h1>Events</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
    <p><a href="{{ path('page',{'slug':'events'}) }}" class="all-events-link">See all</a></p>
</div>
