<a href="{{ path('page',{'slug':'events'}) }}" id="grid-item--events" class="grid-item grid-item-big all-events-link">
    {% include 'VCGBundle:Svgs:calendar.svg.twig' %}
    <h1>Events</h1>
    <div class="scroll-indicator--h">
        <span class="scroll-indicator__text">SCROLL</span>
        <i class="fa fa-long-arrow-left"></i>
        <i class="fa fa-long-arrow-right"></i>
    </div>
    <div class="scroll-container">
        <div class="all-events-wrapper">

            <section class="event__wrapper">
                <h2 class="event__title">Farmingdale Hiring Fair</h2>
                <p class="event__date">
                    August 13, 2015
                    <span class="event__optional-end-date"><!--&mdash 4--></span>
                </p>
                <p>
                    <span class="event__city">Farmingdale,</span>
                    <span class="event__state">NY</span>
                </p>

            </section>

            <section class="event__wrapper">
                <h2 class="event__title">2015 Navy Hiring Conference</h2>
                <p class="event__date">
                    September 20, 2015
                    <span class="event__optional-end-date"><!--&mdash 4--></span>
                </p>
                <p>
                    <span class="event__city">San Antonio,</span>
                    <span class="event__state">TX</span>
                </p>
            </section>

            <section class="event__wrapper">
                <h2 class="event__title">Fort Bragg Hiring Event</h2>
                <p class="event__date">
                    August 12, 2015
                    <span class="event__optional-end-date"><!--&mdash 4--></span>
                </p>
                <p>
                    <span class="event__city">Fort Bragg,</span>
                    <span class="event__state">NC</span>
                </p>
            </section>

            <section class="event__wrapper">
                <h2 class="event__title">Event 4 Lorem Ipsum Title</h2>
                <p class="event__date">
                    Nov 1, 2015
                    <span class="event__optional-end-date"><!--&mdash 4--></span>
                </p>
                <p>
                    <span class="event__city">Mobile,</span>
                    <span class="event__state">Alabama</span>
                </p>
            </section>

            <section class="event__wrapper">
                <h2 class="event__title">Event 5 Lorem Ipsum Title</h2>
                <p class="event__date">
                    Nov 1, 2015
                    <span class="event__optional-end-date"><!--&mdash 4--></span>
                </p>
                <p>
                    <span class="event__city">Mobile,</span>
                    <span class="event__state">Alabama</span>
                </p>
            </section>

            <section class="event__wrapper">
                <h2 class="event__title">Event 6 Lorem Ipsum Title</h2>
                <p class="event__date">
                    Nov 1, 2015
                    <span class="event__optional-end-date"><!--&mdash 4--></span>
                </p>
                <p>
                    <span class="event__city">Mobile,</span>
                    <span class="event__state">Alabama</span>
                </p>
            </section>

            <section class="event__wrapper">
                <h2 class="event__title">Event 7 Lorem Ipsum Title</h2>
                <p class="event__date">
                    Nov 1, 2015
                    <span class="event__optional-end-date"><!--&mdash 4--></span>
                </p>
                <p>
                    <span class="event__city">Mobile,</span>
                    <span class="event__state">Alabama</span>
                </p>
            </section>

            <section class="event__wrapper">
                <h2 class="event__title">Event 8 Lorem Ipsum Title</h2>
                <p class="event__date">
                    Nov 1, 2015
                    <span class="event__optional-end-date"><!--&mdash 4--></span>
                </p>
                <p>
                    <span class="event__city">Mobile,</span>
                    <span class="event__state">Alabama</span>
                </p>
            </section>
        </div>
    </div>

    <div class="button black button--fake all-events-link ">See all Events</div>

</a>
