<div href="javascript:void(0)" class="grid-item grid-item-big grid--social">
    <h1>Connect with UPS</h1>
    <p>Find us on all your favorite social networks.</p>
    <i class="fa fa-facebook-square"></i>
    <i class="fa fa-linkedin-square"></i>
    <i class="fa fa-google-plus-square"></i>
    <i class="fa fa-twitter-square"></i>
    <i class="fa fa-youtube-square"></i>
    <i class="fa fa-instagram"></i>
</div>