<div class="grid-item grid-item-big grid--social">
    <img src="{{ asset('bundles/vcg/images/bubbles.png') }}" alt="">
    <h1>Connect with UPS</h1>
    <p>Find us on all your favorite social networks.</p>
    
    <div class="social-wrapper">
        <i class="fa fa-facebook-square"></i>
        <i class="fa fa-linkedin-square"></i>
        <i class="fa fa-google-plus-square"></i>
        <i class="fa fa-twitter-square"></i>
        <i class="fa fa-youtube-square"></i>
        <i class="fa fa-instagram"></i>
    </div>
    
</div>