<a href="transition-guide.html" class="grid-item grid--transition-guide">
                        <img src="{{ asset('bundles/vcg/images/placeholder_logo_2_dark.png') }}" class="icon--large" alt="">
                        <h1>Military Transition Guide</h1>
                        <p>A usefull guide for transitioning into a new civilian career</p>
                      </a>