<a href="javascript:void(0)" class="grid-item grid--transition-guide">
    <img src="{{ asset('bundles/vcg/images/placeholder_logo_2_dark.png') }}" class="icon--large" alt="">
    <h1>UPS Values</h1>
    <p>See all the advantages and benefits to working at UPS for veterans, families, students and more.</p>
</a>