<a href="{{ path('page', {'slug': 'ups-culture'}) }}" class="grid-item grid--ups-culture">
    <img src="{{ asset('bundles/vcg/images/placeholder_logo_2_dark.png') }}" class="icon--large" alt="">
    <h1>UPS Culture and Benefits</h1>
    <p>See all the advantages and benefits to working at UPS for veterans, families, students and more.</p>
</a>
