<a href="{{ path('page', {'slug': 'culture-benefits'}) }}" class="grid-item">
    <img src="{{ asset('bundles/vcg/images/circles.png') }}" class="icon--large" alt="">
    <h1>Our Culture and Benefits</h1>
    <p>See all the advantages and benefits to working at UPS for veterans, families, students and more. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</a>

