<a id="grid-item--culture" href="{{ path('page', {'slug': 'culture-benefits'}) }}" class="grid-item">
    {% include 'VCGBundle:Svgs:heart.svg.twig' %}
    <h1>Our Culture and Benefits</h1>
    <p>See all the advantages and benefits to working at UPS for veterans, families, students and more.</p>
</a>
