<div id="grid-item--videos" class="grid-item">
    {% include 'VCGBundle:Svgs:play.svg.twig' %}
    <h1>Featured Videos</h1>
        <!-- <img class="" src="http://placehold.it/400x300" alt=""> -->
        <div class="link-wrapper">
            <a href="" class="blarney">
                <img class="" src="http://placehold.it/400x300/222" alt="">
            </a>
            <a href="" class="blarney">
                <img class="" src="http://placehold.it/400x300/333" alt="">
            </a>
        </div>
</div>