<div id="grid-item--videos" class="grid-item">
    {% include 'VCGBundle:Svgs:play.svg.twig' %}
    <h1>Featured Videos</h1>
        <div class="video-link-wrapper">
            <a href="{{ path('homepage_video',{'slug':'otr-driver'}) }}" class="video-link video-link--style">
                <img class="" src="{{ asset('bundles/vcg/images/video-thumbs/otr-driver-test.png') }}" alt="">
                <i class="fa fa-play-circle"></i>
                <span class="video-title">Thank You from UPS</span>
            </a>
            <a href="{{ path('homepage_video',{'slug':'hr'}) }}" class="video-link video-link--style">
                <img class="" src="{{ asset('bundles/vcg/images/video-thumbs/human-resources-test.png') }}" alt="">
                <i class="fa fa-play-circle"></i>
                <span class="video-title">Message from the CEO</span>
            </a>
        </div>
</div>