<div id="grid-item--videos" class="grid-item">
    {% include 'VCGBundle:Svgs:play.svg.twig' %}
    <h1>Featured Videos</h1>
        <div class="video-link-wrapper">
            <a href="{{ path('homepage_video',{'slug':'thank-you-from-ups'}) }}" class="video-link video-link--style">
                <img class="" src="{{ asset('bundles/vcg/images/video-thumbs/UPS_ThanksAmericasTroops_20150824.jpg') }}" alt="">
                <i class="fa fa-play-circle"></i>
                <span class="video-title">Thank You From UPS</span>
            </a>
            <a href="{{ path('homepage_video',{'slug':'military-ready'}) }}" class="video-link video-link--style">
                <img class="" src="{{ asset('bundles/vcg/images/video-thumbs/military-ready.png') }}" alt="">
                <i class="fa fa-play-circle"></i>
                <span class="video-title">UPS: Military-Ready</span>
            </a>
        </div>
</div>