{% extends "VCGBundle:Layouts:page.html.twig" %}
{% block page_content %}
    <h1 style="text-align: center; padding-top: 2em;">Oops! Either this page isn't built yet, or it doesn't exist.</h1>
    <p style="text-align: center;">Error: {{ error }}</p>
{% endblock %}
    