{% extends "VCGBundle:Layouts:page.html.twig" %}
{% block title %}Not Found{% endblock %}
{% block headerimage %}
    <div class="header-static-bg">
        <img class="header-static-bg-img" src="{{ asset('bundles/vcg/images/slider/photo-2.png') }}" />
    </div>
{% endblock %}
{% block page_content %}
<div class="veteranGateway__liner page--404">
    <h1>Something went wrong.</h1>
    <a href="{{ path('homepage') }}" class="button button--404">Back to the site</a>

    {#<p>Error: {{ error }}</p>#}
</div>
{% endblock %}
    