{% extends "VCGBundle:Layouts:page.html.twig" %}
{% block title %}DD Form 214 Guide{% endblock %}
{% block breadcrumbs %}
        <a href="{{ url('homepage') }}">UPS Veteran Gateway</a>
        <a href="{{ path('page',{'slug':'transition-guide'}) }}">Transition Guide</a>
        <a href="#">DD Form 214 Guide</a>
{% endblock %}

{% block page_content %}
    <div class="veteranGateway__liner">
        <div class="title-block">
            <h1>Civilian Career Transition Guide</h1>
            <h2>DD Form 214 Guide</h2>
        </div>
        <div class="page page--ddform214">
            <section class="intro">
                <i class="fa fa-circle-thin"></i>
                <h1 class="page--title">How to use your DD Form 214 to elevate your resume</h1>        
                <p>The form you are receive when leaving active duty contains a trove of career information that separates you from other job candidates.</p>
            </section>
            <section class="dd-form214">
                <img src="http://placehold.it/400x600&text=DD+Form+214+Graphic" alt="">
            </section>
            <div class="component--expander">
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Introduction</h2>
                    <a data-id='1' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='1' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='1' class='hidden-part'>
                        <div class="expander__child">
                            <p class=''>
                                <img src="http://placehold.it/100x135&text=DD+Form+214+Graphic" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Blocks 1-10</h2>
                    <h3>Personal Information</h3>
                    <a data-id='2' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='2' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='2' class='hidden-part'>
                        <div class="expander__child">
                            <p class=''>
                                <img src="http://placehold.it/100x135&text=DD+Form+214+Graphic" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Block 11</h2>
                    <h3>Primary Specialty</h3>
                    <a data-id='3' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='3' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='3' class='hidden-part'>
                        <div class="expander__child">                                  
                            <p class=''>
                                <img src="http://placehold.it/100x135&text=DD+Form+214+Graphic" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Block 12</h2>
                    <h3>Record of Service</h3>
                    <a data-id='4' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='4' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='4' class='hidden-part'>
                        <div class="expander__child">                                
                            <p class=''>
                                <img src="http://placehold.it/100x135&text=DD+Form+214+Graphic" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Block 13</h2>
                    <h3>Decorations, Medals, etc.</h3>
                    <a data-id='5' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='5' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='5' class='hidden-part'>
                        <div class="expander__child">                                  
                            <p class=''>
                                <img src="http://placehold.it/100x135&text=DD+Form+214+Graphic" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Block 14</h2>
                    <h3>Military Education</h3>
                    <a data-id='5b' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='5b' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='5b' class='hidden-part'>
                        <div class="expander__child">                                  
                            <p class=''>
                                <img src="http://placehold.it/100x135&text=DD+Form+214+Graphic" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Block 18</h2>
                    <h3>Remarks</h3>
                    <a data-id='6' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='6' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='6' class='hidden-part'>
                        <div class="expander__child">
                            <p class=''>
                                <img src="http://placehold.it/100x135&text=DD+Form+214+Graphic" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Blocks 19-22</h2>
                    <h3>Lorem Ipsum</h3>
                    <a data-id='7' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='7' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='7' class='hidden-part'>
                        <div class="expander__child">
                            <p class=''>
                                <img src="http://placehold.it/100x135&text=DD+Form+214+Graphic" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Block 23</h2>
                    <h3>Lorem Ipsum</h3>
                    <a data-id='8' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='8' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='8' class='hidden-part'>
                        <div class="expander__child">
                            <p class=''>
                                <img src="http://placehold.it/100x135&text=DD+Form+214+Graphic" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Block 24</h2>
                    <h3>Lorem Ipsum</h3>
                    <a data-id='9' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='9' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='9' class='hidden-part'>
                        <div class="expander__child">
                            <p class=''>
                                <img src="http://placehold.it/100x135&text=DD+Form+214+Graphic" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}