{% extends "VCGBundle:Layouts:page.html.twig" %}
{% block title %}Career Explorer{% endblock %}
{% block headerimage %}
    <div class="header-static-bg">
        <img class="header-static-bg-img" src="{{ asset('bundles/vcg/images/bg-5b.png') }}"    
    </div>
{% endblock %}
{% block breadcrumbs %}
        <a href="{{ url('homepage') }}">UPS Veteran Gateway</a>
        <a href="#">Career Explorer</a>
        <a href="#">Jobs</a>
{% endblock %}

{% block page_content %}
    <div class="veteranGateway__liner">
        <div class="title-block">
            <h1>UPS Career Explorer</h1>
            <p>For Veterans & Service Members</p>
        </div>
        <div class="page page--career-explorer">
            <section class="intro">
                <img src="{{ asset('bundles/vcg/images/document.png') }}" alt="">
                <h1 class="page--title">UPS HOT JOBS</h1>        
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias eos molestiae, a. Harum officia error amet excepturi veniam esse. Officia excepturi magni, error, minima ipsa laudantium accusantium autem eos non.
Consectetur adipisicing elit. Incidunt officiis inventore amet temporibus veniam molestiae, distinctio vero ratione consequuntur sit porro error facere, harum sequi, sint ducimus quasi maxime corporis.</p>
            </section>
            <div class="component--expander">
                <!-- <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Introduction</h2>
                    <a data-id='1' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='1' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='1' class='hidden-part'>
                        <div class="expander__child">
                            <p class=''>
                                <img src="http://placehold.it/100x135&text=DD+Form+214+Graphic" alt="">
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section> -->
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Job One</h2>
                    <h3>Lorem Ipsum</h3>
                    <a data-id='2' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='2' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='2' class='hidden-part'>
                        <div class="expander__child">
                            <p class=''>
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Job Two</h2>
                    <h3>Lorem Ipsum</h3>
                    <a data-id='3' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='3' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='3' class='hidden-part'>
                        <div class="expander__child">                                  
                            <p class=''>
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Job Three</h2>
                    <h3>Lorem Ipsum</h3>
                    <a data-id='4' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='4' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='4' class='hidden-part'>
                        <div class="expander__child">                                
                            <p class=''>
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Job Four</h2>
                    <h3>Lorem Ipsum</h3>
                    <a data-id='5' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='5' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='5' class='hidden-part'>
                        <div class="expander__child">                                  
                            <p class=''>
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Job Five</h2>
                    <h3>Lorem Ipsum</h3>
                    <a data-id='6' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='6' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='6' class='hidden-part'>
                        <div class="expander__child">                                  
                            <p class=''>
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Job Six</h2>
                    <h3>Lorem Ipsum</h3>
                    <a data-id='7' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='7' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='7' class='hidden-part'>
                        <div class="expander__child">
                            <p class=''>
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Job Seven</h2>
                    <h3>Lorem Ipsum</h3>
                    <a data-id='8' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='8' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='8' class='hidden-part'>
                        <div class="expander__child">
                            <p class=''>
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Job Eight</h2>
                    <h3>Lorem Ipsum</h3>
                    <a data-id='9' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='9' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='9' class='hidden-part'>
                        <div class="expander__child">
                            <p class=''>
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
                <section class='expander__wrapper'>
                    <h2 class='expander__parent'>Job Nine</h2>
                    <h3>Lorem Ipsum</h3>
                    <a data-id='9' class='button expand-button'>
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a data-id='9' class='button hide-button'>
                        <i class="fa fa-minus fa-2x"></i>
                    </a>
                    <div data-id='9' class='hidden-part'>
                        <div class="expander__child">
                            <p class=''>
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                                Non itaque saepe provident architecto vitae! Quia consequatur labore eos commodi, consequuntur! Repudiandae, laboriosam, optio. Itaque deleniti, ipsam nemo sequi veritatis qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo id perferendis sapiente quisquam eveniet praesentium quidem, error atque ea.
                            </p>
                        </div>   
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}