{% extends 'VCGBundle::base.html.twig' %}
{% block modal_class %}leave-site{% endblock %}
{% block page_class %}leave-site{% endblock %}
{% block modal %}
{# you can use "route" to echo the route name #}
        <div id="modal-content">
            <img src="{{ asset('bundles/vcg/images/UPS-shield-logo.png') }}" alt="" class="logo">
            {% block modalbody %}
                    <div id="single-modal-content">
                        <h1 id="leave-site-title">You are about to leave UPS Jobs</h1>
                        <p>You are leaving the UPSJobs.com website and going to a website that UPS does not administer or fund. UPS does not endorse any products or services advertised or available through this website, nor do they control the opinions or information presented there. In going there, you will be subject to the privacy, accessibility, copyrighting and other policies and rules that apply to that site.</p>
                        <h3><a id="forward-to" href="" target="_blank">Continue</a></h3>
                    </div>
            {% endblock %}
            <a href="{% block parentPageLink %}{{ path(route, {'slug': slug })}}{% endblock %}" id="close-modal"><i class="fa fa-times"></i></a>
            {#<a href="{% block prevArticleLink %}{{ path(route, {'slug': video.Prev | raw })}}{% endblock %}" id="prev-article"><i class="fa fa-angle-left"></i></a>
            <a href="{% block nextArticleLink %}{{ path(route, {'slug': video.Next | raw })}}{% endblock %}" id="next-article"><i class="fa fa-angle-right"></i></a>#}
        </div>
{% endblock %}