{% extends "VCGBundle:Layouts:page.html.twig" %}
{% block title %}Partnerships{% endblock %}
{% block headerimage %}
    <div class="header-static-bg">
        <img class="header-static-bg-img" src="{{ asset('bundles/vcg/images/slider/flag.jpg') }}" />
    </div>
{% endblock %}
{% block breadcrumbs %}
        <a href="{{ path('page',{'slug':'culture-benefits'}) }}">UPS Culture &amp; Benefits</a>
        <a href="{{ path('culture_benefits_page', {'slug': 'partners'}) }}">Partners</a>
{% endblock %}

{% block page_content %}
                <div class="veteranGateway__liner">
                  
                  <div class="page--partners">
                    <div class="title-block">
                        <h1>UPS Partnerships</h1>
                        <p>Skills development for current and transitioning service members</p>
                    </div>
                    <div class="flex-wrapper">
                      <div class="grid-area">
                        <a href="https://www.afit.edu/cip/docs/EWI_Handbook.pdf" class="grid-item external">
                          {% include 'VCGBundle:Svgs:handshake.svg.twig' %}
                          <h1>Air Force Education With Industry</h1>
                          <p>This 10-month program uses a hands-on educational experience to provide officers with management skills and technical expertise as they study best practices with industry leaders.</p>
                        </a>
    
                        <a href="https://www.hrc.army.mil/Enlisted/NCOs%20Broadening%20Program" class="grid-item external">
                          {% include 'VCGBundle:Svgs:handshake.svg.twig' %}
                          <h1>Army Training With Industry</h1>
                          <p>This one-year work experience training program is designed to take selected officers out of the military environment and expose them to the latest commercial business practices, organizational structures and cultures, technology development processes, and the latest corporate management techniques. The U.S. Army offers unique programs for each unit type, such as quartermaster and ordnance.</p>
                        </a>
                        <a href="http://www.acp-usa.org/" class="grid-item grid--ups-culture external">
                          {% include 'VCGBundle:Svgs:handshake.svg.twig' %}
                          <h1>American Corporate Partners Veteran Mentoring Program</h1>
                          <p>Open to currently serving and recently separated veterans (including members of the Reserve and National Guard), this program connects veteran proteges with corporate mentors for a yearlong mentorship focused on a successful transition from the military to the civilian workforce.</p>
                        </a>
                        <a href="http://camo2commerce.com/heroes/" class="grid-item external">
                          {% include 'VCGBundle:Svgs:handshake.svg.twig' %}
                          <h1>Heroes Corporate Fellowship Academy</h1>
                          <p>This three-month program places an active duty service member with a partner company in a management position. Participants also spend one day each week in the classroom gaining valuable corporate skills and certifications. This all culminates in a final project and an interview for possible employment.</p>
                        </a>
                        <a href="http://westillserve.com/mssa/" class="grid-item external">
                          {% include 'VCGBundle:Svgs:handshake.svg.twig' %}
                          <h1>Microsoft Software &amp; Systems Academy</h1>
                          <p>This opportunity provides a full-time, 16-week information technology job skills training program for active duty U.S. service members who have received their separation date. Upon successful completion, participants will be given the opportunity to interview at Microsoft for a full-time position there or at one of its participating partners.</p>
                        </a>
                        <a href="http://www.pva.org/site/c.ajIRK9NJLcJ2E/b.7750849/k.36C/Operation_PAVE_Paving_Access_for_Veterans_Employment.htm" class="grid-item external">
                          {% include 'VCGBundle:Svgs:handshake.svg.twig' %}
                          <h1>Operation PAVE: Paving Access for Veterans Employment</h1>
                          <p>Paralyzed Veterans of America’s vocational rehabilitation program, Operation PAVE, provides one-on-one career counseling and assistance to disabled and nondisabled veterans and their families. All services, including resume assistance, interview preparation, vocational counseling and employer networking, are provided at no charge—and are available to dependents as well.</p>
                        </a>
                      </div>
                    </div>
                </div>           
            </div>
          </div>
{% endblock %}