

footer {
    background: $black90;
    min-height: 20em;
    color: $white50;
    text-align: center;
    padding-top: 30px;
    font-size: 0.9rem;

    // .breakpoint-small & {
    //     // background: red;
    //     &:before {
    //         content:'small breakpoint';
    //         color: $white10;
    //     }
    //   }

    // .breakpoint-medium & {
    //     // background: green;
    //     &:before {
    //         content:'medium-breakpoint';
    //         color: red;
    //     }
    //   }

    // .breakpoint-large & {
    //     // background: blue;
    //     &:before {
    //         content:'large breakpoint';
    //         color: red;
    //     }
    // }

    // .breakpoint-wide & {
    //     // background: pink;
    //     &:before {
    //         content: 'wide breakpoint';
    //         color: red;
    //       }
    // }
    
    h2 {
        color: $ups-yellow;
    }

    ul li{
        color: $white;
        margin-bottom: 0.5em;
    }

    h3 {
        margin-top: 1em;
    }
}   

