$header-height--small: 16rem;
$header-height--medium: 26rem;
$header-height--large: 28rem;
$header-height--wide: 30rem;

$header-height-short--small: 10rem;
$header-height-short--medium: 25rem;
$header-height-short--large: 25rem;
$header-height-short--wide: 27rem;

$carousel-height--mobile: 16rem;

header {
    background: url(../img/bg-5b.png) bottom center no-repeat $grey90;
    background-size: cover;
//    height: $carousel-height--mobile;
    position: relative;

    @include header-heights;

    &.page--home {
       @include home-header-heights;
    }

    img.logo {
        @include position(absolute, 1em);
        @include size(3em auto);

       .breakpoint-medium &, .breakpoint-large & {
            @include position(absolute, 2em);
            width: 4em;
        }

        .breakpoint-wide & {
            // @include position(absolute, 2em);
            width: 4em;
        }
    }

    .header-static-bg {
        position: absolute;
        z-index: 0;
        display: block;
        width: 100%;
    }

    .header-static-bg-img {
        position: absolute;
        width: 100%;
    }

    .header--liner { /*slider prototype--must be made full width*/
        @include constrain-content;
        position: relative;
        z-index: 10;

        .slider-content {

            display: block;
            margin-left: 2rem;
            margin-right: 2rem;
            position: absolute;
            bottom: 15%;

            .breakpoint-large & {
                // background: red;
                margin-left: 0;
                width: 50% ;
            }

            .breakpoint-wide & {
                // background: green;
                margin-left: 0;
                width: calc( 50% - 2rem );
            }

            h1 {
                color: $black80;
                // background: red;
                font-size: 2.5em;
                margin-bottom: 2rem;
            }

            i {
                color: $black40;
                font-size: 1.4em;
                margin-right: .5rem;
            }       
        }
    }
    
    /*Dev Indicator Notes*/
    .breakpoint-small & {
        &:before {
            content:'small breakpoint';
            color: $white20;
            text-transform: uppercase;
            @include position(absolute, 0.25em null null 0.75em );
            z-index: 200;
        }
    }

    .breakpoint-medium & {
        // background: green;
        &:before {
            content:'medium-breakpoint';
            color: $white20;
            text-transform: uppercase;
            @include position(absolute, 0.25em null null 0.75em );
            z-index: 200;
        }
    }

    .breakpoint-large & {
        // background: blue;
        &:before {
            content:'large breakpoint';
            color: $white20;
            text-transform: uppercase;
            @include position(absolute, 0.25em null null 0.75em );
            z-index: 200;
        }
    }

    .breakpoint-wide & {
        // background: pink;
        &:before {
            content: 'wide breakpoint';
            color: $white20;
            text-transform: uppercase;
            @include position(absolute, 0.25em null null 0.75em );
            z-index: 200;
          }
    }
}