$header-height--small: 20rem;
$header-height--medium: 26rem;
$header-height--large: 28rem;
$header-height--wide: 30rem;

$header-height-short--small: 10rem;
$header-height-short--medium: 20rem;
$header-height-short--large: 21rem;
$header-height-short--wide: 24rem;

$carousel-height--mobile: 16rem;

header {
    background-size: cover;
    position: relative;

    @include header-heights;

    &.page--home {
       @include home-header-heights;
    }
    &.header--404 {
        @include fourohfour-header-heights;
    }

    img.logo {
        @include position(absolute, 1em);
        @include size(3em auto);

       .breakpoint-medium &, .breakpoint-large & {
            @include position(absolute, 1.2em);
            width: 3em;
        }

        .breakpoint-wide & {
            // @include position(absolute, 2em);
            @include position(absolute, 1.2em);
            width: 3em;

        }
    }

    .header-static-bg {
        position: absolute;
        z-index: 0;
        display: block;
        width: 100%;
    }

    .header-static-bg-img {
        position: absolute;
        width: 100%;
    }

    .header--liner { /*slider prototype--must be made full width*/
        @include constrain-content;
        position: relative;
        z-index: 10;

        .slider-content {

            display: block;
            margin-left: 2rem;
            margin-right: 2rem;
            position: absolute;
            bottom: 15%;

            .breakpoint-large & {
                // background: red;
                margin-left: 0;
                width: 50% ;
            }

            .breakpoint-wide & {
                // background: green;
                margin-left: 0;
                width: calc( 50% - 2rem );
            }

            h1 {
                color: $black80;
                // background: red;
                font-size: 2.5em;
                margin-bottom: 2rem;
            }

            i {
                color: $black40;
                font-size: 1.4em;
                margin-right: .5rem;
            }       
        }
    }
    
    p.header__country {
        font-size: 0.7em;
        font-weight: 800;
        position: absolute;
        left: 5.1rem;
        color: $white70;
        top: 0.2rem;

        .breakpoint-small & {
            display: none;
        }
    }

    nav.header__nav--top-right {
        position: absolute;
        right: 1em;
        top: 0.1em;
        z-index: 2000;

        .breakpoint-small & {
            display: none;
        }

        ul li {
            float: right;
            color: $white70;
            padding-left: 1.8em;
            font-size: 1em;
            font-weight: 800;
            cursor: pointer;
            &:hover {
                color: $ups-yellow;
            }
        }
        p {
            float: right;
            display: inline;
            font-size: 0.7em;
            padding-left: 1rem;
            color: $white70;
            cursor: pointer;
            &:hover {
                color: $ups-yellow;
            }
        }
    }
    
    nav.header__nav--main {
        background: rgba( $ups-brown-1, 0.9);
        display: block;
        position: absolute;
        right: 0;
        top: 1.5em;
        width: calc( 100% - 5rem );
        z-index: 1000;

        .breakpoint-small & {
            display: none;
        }

        ul li {
            color: $white;
            font-size: 0.9em;
            // display: inline-block;
            float: left;
            border-left: 1px solid $white10;
            padding: 0.6rem 2rem 0.5rem 2rem;
            height: 2.5rem;
            // border: 1px dashed $white30;
            border-right: none;
            font-weight: 800;
            @include transition (all 0.2s ease-out);

            i {
                margin-right: 0.5em;
                font-size: 1.1em;
            }

            &:first-child {
                border-left: none;
            }

            &.current-section {
                color: rgba( $ups-yellow, 1) ;
            }
            
            &:hover {
                background: rgba( $ups-yellow, 0.9);
                background: $white70;
                color: $white;
                color: $ups-brown-1;
                // background:red;
            }
        }

        &:before {
            // @include pseudo-block(2.5rem);
            left: calc( -100% - 5em ); 
            background: rgba( $ups-brown-1, 0.9);
             width: 100%;
        }

        &:after {
            @include pseudo-block(2.5rem);
             right: -100%; 
             background: rgba( $ups-brown-1, 0.9);
             width: 100%;




        }
    }

    /*Dev Indicator Notes*/
    // .breakpoint-small & {
    //     &:before {
    //         content:'s';
    //         color: red;
    //         text-transform: uppercase;
    //         @include position(absolute, 0.25em null null 0.75em );
    //         z-index: 200;
    //     }
    // }

    // .breakpoint-medium & {
    //     // background: green;
    //     &:before {
    //         content:'m';
    //         color: red;
    //         text-transform: uppercase;
    //         @include position(absolute, 0.25em null null 0.75em );
    //         z-index: 200;
    //     }
    // }

    // .breakpoint-large & {
    //     // background: blue;
    //     &:before {
    //         content:'l';
    //         color: red;
    //         text-transform: uppercase;
    //         @include position(absolute, 0.25em null null 0.75em );
    //         z-index: 200;
    //     }
    // }

    // .breakpoint-wide & {
    //     // background: pink;
    //     &:before {
    //         content: 'w';
    //         color: red;
    //         text-transform: uppercase;
    //         @include position(absolute, 0.25em null null 0.75em );
    //         z-index: 200;
    //       }
    // }
}

